<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Recipes recommendations</title>
    <link rel="stylesheet" type="text/css" media="all" href="~/Content/Site.css" />
</head>
<body>
    @foreach (FoodPlaner.Models.Recipe item in ViewBag.Recipes)
    {
        <h2>@item.RecipeName</h2>
        <p>Ingredients: @item.Ingredients</p>
        <p>Time: @item.Time</p>
        <a class="btn btn-info pull-left" href="/Recipe/Show/@item.RecipeId" style="margin-left:5px;">Details</a>
        <br /> <br />
    }

</body>
</html>