@{
    ViewBag.Title = "Home Page";
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Home Page</title>
</head>
<body>
    <div class="container">
        <div class="col-sm-5" style="margin-top:150px">
            <p style="font-size:20px">Food Planner is a meal management platform that helps people eat healthier and more diversely</p>
            <br/>
            <p style="font-size:20px">You can keep track of your own recipes, discover new ones and write reviews in order to help others.</p>
            <br/>
            <a class="btn btn-success" href="/Account/Login">START NOW</a>
        </div>

        <div class="col-sm-5 col-height">
            <img src="../Content/images/recipe.jpg" alt="Food Planner" width="700" height="550" style="margin-top: 4rem;">
        </div>
    </div>
</body>
</html>