body {

    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.textArea {
    max-height: 50px;
    color: #F8EFBA;
    text-shadow: 2px 2px #ff0000;
    font-style: italic;
}

.recipe {
    padding-left: 25px;
}

div.recipe > p{
    font: Sans-serif;
    font-size: 17px;
}

.floatRight {
    display: absolute;
    top: 0;
    right: 0
}

.customFooter {
    position : fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #f8f8f8; /* Customize the background color as needed */
    padding: 20px;
}

#card {
    background: #fbfbfb;
    border-radius: 8px;
    padding-top: 3%;
    box-shadow: 1px 2px 8px rgba(0, 0, 0, 0.65);
    height: 350px;
    margin: 3rem auto 4.1rem 3rem;
    width: 60%;
}